@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');


.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  
}



.footer{
  text-align: center;
  justify-content: center;
  background-color: #EB414F;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-style: initial;
  color: white;
  font-size: 32px;
  font-family: 'Nunito', sans-serif;

}
.btn{
  margin-bottom: 200px;

}
.textred{
  color: #EB414F;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
